<!--   WhatsApp Logo -->
<link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css ">
<div class="container containertop" align="center">
  <div class="jumbotron">
    <h2>{{ 'subscribe1' | translate}}</h2>
    <p>{{ 'subscribe2' | translate}}</p>

    <div class="row">

      <button  type="button"  class="button btn btn-info" (click)="showPhoneFields()">
        <i class="fa fa-comments-o " aria-hidden="true "></i> {{ 'sms1' | translate}}
      </button>
      <button type="button"  class="button btn btn-info" (click)="showMailFields()">
        <i class="fa fa-envelope-o " aria-hidden="true "></i> {{ 'email1' | translate}}
      </button>
      <button type="button"  class=" button btn btn-info" (click)="showWhatsappFields()">
        <i class="fa fa-whatsapp " aria-hidden="true "></i> {{ 'whatsapp1' | translate}}
      </button>
      <button type="button"  class=" button btn btn-info" (click)="showAlexaFields()">
        <i class="fa fa-amazon " aria-hidden="true "></i> {{ 'alexa1' | translate}}
      </button>
    </div>
    <div class="row">
      <div class="col col-xs-12">
        <form #phoneForm="ngForm" [hidden]="!registerPhone">

          <br>

          <input type="tel" class="form-control" placeholder="Enter your phone number" required pattern="^(((((((\+)49[ \-/]?)|0)[1-9][0-9]{1,4})[ \-/]?)|((((00|\+)49\()|\(0)[1-9][0-9]{1,4}\)[ \-/]?))[0-9]{1,7}([ \-/]?[0-9]{1,5})?)$"

                 [(ngModel)]="phonenumber" name="phonenumber" #pnumber="ngModel">
          <br>
          <div *ngIf="pnumber.errors && (pnumber.dirty || pnumber.touched)" class="alert alert-danger">
            <div [hidden]="!pnumber.errors.required">
              {{ 'typenum2' | translate}}
            </div>
            <div [hidden]="!pnumber.errors.pattern">
              {{ 'invalidnum2' | translate}}
            </div>

          </div>

          <button type="button" class="btn btn-danger" [disabled]="!phoneForm.form.valid" (click)="addUser(1)">
            {{ 'subscribebutton2' | translate}}
          </button>
          <br><br>
          <div class="alert alert-success fade in" *ngIf="saveSuccess">
            {{ 'success2' | translate}}
          </div>
        </form>


        <form #whatsappForm="ngForm" [hidden]="!registerWhatsapp">

          <br>

          <input type="tel" class="form-control" placeholder="Enter your phone number" required pattern="^(((((((\+)49[ \-/]?)|0)[1-9][0-9]{1,4})[ \-/]?)|((((00|\+)49\()|\(0)[1-9][0-9]{1,4}\)[ \-/]?))[0-9]{1,7}([ \-/]?[0-9]{1,5})?)$"
                 [(ngModel)]="whatsapp_number" name="whatsapp_number" #number="ngModel">
          <br>
          <div *ngIf="number.errors && (number.dirty || number.touched)" class="alert alert-danger">
            <div [hidden]="!number.errors.required">
              {{ 'typenum2' | translate}}
            </div>
            <div [hidden]="!number.errors.pattern">
              {{ 'invalidnum2' | translate}}
            </div>

          </div>

          <button type="button" class="btn btn-danger" [disabled]="!whatsappForm.form.valid" (click)="addUser(3)">
            {{ 'subscribebutton2' | translate}}
          </button>
          <br><br>
          <div class="alert alert-success fade in" *ngIf="saveSuccess">
            {{ 'success2' | translate}}
          </div>
        </form>





        <form #mailForm="ngForm" [hidden]="!registerMail">

          <br>

          <input type="email" class="form-control" placeholder="Enter your E-Mail" required [(ngModel)]="email_address" pattern='^(([^<>()\[\]\\.,;:\s@\\"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                 name="email_address" #mail="ngModel">
          <br>
          <div *ngIf="mail.errors && (mail.dirty || mail.touched)" class="alert alert-danger">
            <div [hidden]="!mail.errors.required">
              {{ 'typeemail1' | translate}}
            </div>
            <div [hidden]="!mail.errors.pattern">
              {{ 'invalidemail1' | translate}}
            </div>

          </div>

          <button type="button" class="btn btn-danger" [disabled]="!mailForm.form.valid" (click)="addUser(2)">
            {{ 'subscribebutton3' | translate}}

          </button>
          <br><br>
          <div class="alert alert-success fade in" *ngIf="saveSuccess">
            {{ 'success3' | translate}}
          </div>
        </form>

        <form #alexaForm="ngForm" [hidden]="!registerAlexa">

          <br>

          <input type="tel" class="form-control" placeholder="Enter your Alexa ID" [(ngModel)]="alexa_id" name="alexa_id" >
          <br>
          <button type="button" class="btn btn-danger" >
            {{ 'subscribebutton3' | translate}}
          </button>
        </form>

      </div>
    </div>
  </div>
</div>
