<div class="container containertop">

  <div class="row">
    <div class="col-xs-12">
      <div class="header">
        <div class="header2" id="snow">

        </div>
      </div>
    </div>
  </div>
  <!--  <div class="row">
          <div class="col-xs-12">
              <div class="intro"></div>
          </div>
        </div>-->
  <div class="row">
    <div class="col-xs-6">
      <div class="section">
        <div class="offer offer-default">
          <div class="shape">
            <div class="shape-text">
              New
            </div>
          </div>
          <a href="http://localhost:3000/detailedbundle">
            <div class="offer-content">
              <h3 class="lead">
                    <font color="black">
                      {{ 'Bundle1' | translate}}</font>
                  </h3>
            </div>
          </a>
          <div class="panel-footer">
            <div> {{ 'code1' | translate}} </div>
            <div>{{ 'expire1' | translate}} </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="section bg-alt">
        <div class="offer offer-default2">
          <div class="shape">
            <div class="shape-text">
              New
            </div>
          </div>
          <a href="#">
            <div class="offer-content">
              <a href="#"></a>
              <h3 class="lead">
                        <font color="black">
                          {{ 'Bundle2' | translate}} </font>
                    </h3>
            </div>
          </a>
          <div class="panel-footer">
            <div> {{ 'code2' | translate}} </div>
            <div>{{ 'expire2' | translate}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  <div class="row">
            <div class="col-xs-12">
                <div class="footer"></div>
            </div>
        </div>-->
</div>
