<div class="container containertop">
  <div class="row">
    <div class="col-xs-12">
      <div class="header">
        <div class="header2" id="snow">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="section">
        <div class="offer offer-default">
          <div class="shape">
            <div class="shape-text">
              New
            </div>
          </div>
          <a (click)="gotoBundle()">
            <div class="offer-content" >
              <h3 class="lead">
                {{title}}
              </h3>
            </div>
          </a>
          <div class="panel-footer">
            <div> {{title}}</div>
            <div>{{ 'expire1' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
