<div class="container containertop">
  <div class="row">
    <div class="col-xs-12">
        <h1 [ngStyle]="{'font-family': fontfamily, 'color': fontcolor}">{{ title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3 [ngStyle]="{'font-family': fontfamily2, 'color': fontcolor}">{{ title2 }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" *ngFor="let bundle of bundles; let i=index;">
      <div *ngIf="i<1" class="section">
        <div class="offer offer-default"
             [ngStyle]="{background: 'url(src/assets/' + bundlebackground + ')'}">
          <div class="shape">
            <div class="shape-text">
              {{ 'new1' | translate}}
            </div>
          </div>
          <a (click)="gotoBundle()">
            <div class="offer-content">
              <h3 class="lead">
                {{ bundle.title }}
              </h3>
            </div>
          </a>
          <div class="panel-footer">
            <div> {{ bundle.description }}</div>
            <div>{{ 'expire1' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

