<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/eventoverview">Event Overview</a></li>
  <li class="breadcrumb-item"><a routerLink="/eventdetail">Event</a></li>
</ol>
<div class="container" align="center">

  <div class="card hovercard">
    <div class="card-background">

      <!-- possible blurred image -->
    </div>
    <div class="useravatar">
      <img alt=""
           src="https://i.pinimg.com/736x/f9/28/e2/f928e27b6513d0d9c25a1b80293b12d1--under-construction-sign-construction-clipart.jpg">
    </div>
    <div class="card-info"><span class="card-title">Create Bundle</span>

    </div>
  </div>

  <div class="well">
    <form class="form-horizontal" style="text-align: center">

      <legend>Create an Event</legend>

      <fieldset>
        <div class="form-group row">
          <label for="title" class="col-xs-4 col-form-label">Event-Title</label>
          <div class="col-xs-8">
            <input [(ngModel)]="event.title" id="title" name="title" type="text" class="form-control input-xs">
          </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-xs-4 col-form-label">Start Date of Promotion</label>
          <div class="col-xs-8">
            <input [(ngModel)]="event.start" id="start" name="start" type="text" class="form-control input-xs">
          </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-xs-4 col-form-label">End Date of Promotion</label>
          <div class="col-xs-8">
            <input [(ngModel)]="event.end" id="end" name="end" type="text" class="form-control input-xs">
          </div>
        </div>
      </fieldset>


      <form #bundleForm="ngForm" [hidden]="createMode">

        <legend>Add Bundles</legend>

        <div class="row">
          <div class="col-xs-12">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let bundle of bundles" id="bundle.title">
                {{ bundle.title }}
                <button (click)="onEdit(bundle, event)" class="btn btn-xs btn-danger pull-right"><span
                  class="glyphicon glyphicon-edit"></span> edit
                </button>
              </li>
            </ul>
          </div>
        </div>

      </form>


      <div class="row">
        <div class="col-xs-6">
          <a class="btn btn-info" *ngIf="createMode" (click)="addEvent()">Save
            Event</a>
          <a [routerLink]="['/eventoverview']" class="btn btn-info" *ngIf="!createMode" (click)="updateEvent(event)">Update
            Event</a>
        </div>
        <div class="col-xs-6">
          <a [routerLink]="['/eventoverview']" class=" btn btn-danger ">Cancel</a>
        </div>
      </div>

    </form>


  </div>
</div>
