<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/eventoverview">Event Overview</a></li>
    <li class="breadcrumb-item"><a routerLink="/eventdetail">Event</a></li>
    <li class="breadcrumb-item"><a routerLink="/eventbundle">Bundle</a></li>
  </ol>

  <div class="card hovercard">
    <div class="card-background">

      <!-- possible blurred image -->
    </div>
    <div class="useravatar">
      <img alt="" src="https://i.pinimg.com/736x/f9/28/e2/f928e27b6513d0d9c25a1b80293b12d1--under-construction-sign-construction-clipart.jpg">
    </div>
    <div class="card-info"> <span class="card-title">Create Bundle</span>

    </div>
  </div>

  <div class="well">
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label class="col-xs-4 control-label" for="title">Eventtitle</label>
        <div class="col-xs-4">
          <input [(ngModel)]="event.title" id="title" name="title" type="text" class="form-control input-xs">
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4 control-label" for="start">Timerangestart</label>
        <div class="col-xs-4">
          <input [(ngModel)]="event.start" id="start" name="start" type="text" class="form-control input-xs">
        </div>
        <label class="col-xs-4 control-label" for="end">Timerangeend</label>
        <div class="col-xs-4">
          <input [(ngModel)]="event.end" id="end" name="end" type="text" class="form-control input-xs">
        </div>
      </div>
    </fieldset>
  </form>

  <button class="btn-success" *ngIf="createMode" (click)="addEvent()">Save Event</button>
  <button class="btn-success" *ngIf="!createMode" (click)="updateEvent(event)">Update Event</button>
</div>
</div>
