<div class="container containertop">
  <div class="container" align="center">


    <div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog middle">
        <div class="modal-content round">
          <div class="modal-header">
            <button id="closemodal" hidden="true" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          </div>
          <div class="modal-body">
            <span class="countdown">{{ 'publishBundle' | translate}}</span>
            <img style="    position: relative;
      left: 50%;
      margin-left: -400px;
      vertical-align: middle;" src="http://localhost:3000/src/assets/flightplane.gif" />


          </div>
        </div>
      </div>
    </div>

    <div class="card hovercard">
      <div class="card-background">

        <!-- possible blurred image -->
      </div>
      <div class="useravatar">
        <img alt="" src="/src/assets/admin_logo.jpg">
      </div>
      <div class="card-info"><span class="card-title, lead">{{ 'eventCenter' | translate}}</span>

      </div>
    </div>
    <div class="well">
      <div class="row">
        <legend>{{ 'events1' | translate}}</legend>
        <div class="col-xs-12">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let event of events" id="event.id">
              {{ event.title }}
              <button class="btn btn-xs btn-danger pull-right" (click)="onDelete(event)"><span
              class="glyphicon glyphicon-trash"></span> {{ 'delete1' | translate}}
            </button>
              <button class="btn btn-xs btn-success pull-right" (click)="onEdit(event)"><span
                class="glyphicon glyphicon-wrench"></span> {{ 'goEvent' | translate}}
              </button>
              <button [hidden]="false" data-toggle="modal" data-target="#myModal" class="btn btn-xs btn-info pull-right" (click)="onPublish(event)"><span
                class="glyphicon glyphicon-star"></span> {{ 'publish' | translate}}
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary" (click)="onCreate()">{{ 'newEvent' | translate}}</button>
      </div>
    </div>
  </div>
</div>
