<div class="container containertop" style="margin-top:-50px">

  <section>
    <div class="wizard">
      <div class="wizard-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">

          <!-- Detail -->
          <!-- Currently active -->
          <li *ngIf="active_status == 'detail'" role="presentation" class="active active1">
            <a aria-controls="step1" title="Step 1">
              <span class="round-tab" >
                  <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </a>
          </li>

          <!-- Finished active -->
          <li *ngIf="detail_status && active_status != 'detail'" role="presentation" class="active1">
            <a aria-controls="step1" title="Step 1">
              <span class="round-tab">
                  <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </a>
          </li>

          <!-- To be achieved -->
          <li *ngIf="!detail_status" role="presentation" class="disabled">
            <a aria-controls="step1" title="Step 1">
              <span class="round-tab">
                  <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </a>
          </li>


          <!-- First Bundle -->
          <!-- Currently active -->
          <li *ngIf="active_status == 'select'" role="presentation" class="active active1">
            <a aria-controls="step2" title="Step 2">
              <span class="round-tab" >
                  <i class="glyphicon glyphicon-th"></i>
              </span>
            </a>
          </li>

          <!-- Finished -->
          <li *ngIf="select_status && active_status != 'select'" role="presentation" class="active1">
            <a aria-controls="step2" title="Step 2">
              <span class="round-tab">
                    <i class="glyphicon glyphicon-th"></i>
              </span>
            </a>
          </li>

          <!-- To be achieved -->
          <li *ngIf="!select_status" role="presentation" class="disabled">
            <a aria-controls="step2" title="testt">
              <span class="round-tab">
                    <i class="glyphicon glyphicon-th"></i>
              </span>
          </a>
          </li>

          <!-- Second Bundle -->
          <!-- Currently active -->
          <li *ngIf="active_status == 'bundle1'" role="presentation" class="active1 active">
            <a aria-controls="step1" title="Step 3">
              <span class="round-tab" >
                  <i class="glyphicon glyphicon-shopping-cart"></i>
              </span>
            </a>
          </li>

          <!-- Finished -->
          <li *ngIf="bundle1_status && active_status != 'bundle1'" role="presentation" class="active1">
            <a aria-controls="step3" title="Step 3">
              <span class="round-tab">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
              </span>
            </a>
          </li>

          <!-- To be achieved -->
          <li *ngIf="!bundle1_status" role="presentation" class="disabled">
            <a aria-controls="step3" title="Step 3">
              <span class="round-tab">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
              </span>
          </a>
          </li>


          <!-- Notification -->
          <!-- Currently active -->
          <li *ngIf="active_status == 'notification'" role="presentation" class="active1 active">
            <a aria-controls="step4" title="Step 4">
              <span class="round-tab" class="active" class="active">
                  <i class="glyphicon-glyphicon-bullhorn"></i>
              </span>
            </a>
          </li>

          <!-- Finished -->
          <li *ngIf="notification_status && active_status != 'notification'" role="presentation" class="active1">
            <a aria-controls="step4" title="Step 4">
              <span class="round-tab">
                    <i class="glyphicon glyphicon-bullhorn"></i>
              </span>
            </a>
          </li>
          <!-- To be... -->
          <li *ngIf="!notification_status" role="presentation" class="disabled">
            <a aria-controls="step3" title="Step 4">
              <span class="round-tab">
                    <i class="glyphicon glyphicon-bullhorn"></i>
              </span>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div>


    <div class="well ">
      <form class="form-horizontal " style="text-align: center ">

        <legend>Choose a Bundle</legend>

        <div class="card-columns">
          <div class="card" *ngFor="let bundle of bundles" (click)="goToEventBundle(bundle)">
            <div class="card-block">
              <h4 class="card-title">{{bundle.title}}</h4>
              <p class="card-title">{{bundle.smartscore}}</p>
              <p class="card-text">{{bundle.description}}</p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Artikel</th>
                    <th>EAN</th>
                    <th>Preis</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let article of bundle.articles">
                    <td>{{article.name}}</td>
                    <td>{{article.ean}}</td>
                    <td>{{article.preis}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="pull-left ">
            <button [routerLink]="[ '/eventdetail']" class=" btn btn-danger " (click)="backToEvent() ">Back To Events</button>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>
