<div class="container" align="center">
  <div class="jumbotron">
    <h2>LIDL Verification Service</h2>
    <p>Type in your registered Phonenumber and press Enter </p>
    <form (submit)="checkUser()">
      <input type="tel" class="form-control"
             placeholder="Add here your Phonenumber.." required
             pattern="^(((((((00|\+)49[ \-/]?)|0)[1-9][0-9]{1,4})[ \-/]?)|((((00|\+)49\()|\(0)[1-9][0-9]{1,4}\)[ \-/]?))[0-9]{1,7}([ \-/]?[0-9]{1,5})?)$"
             [(ngModel)]="phonenumber"
             name="phonenumber" #number="ngModel">
    </form>
    <br>
    <div class="alert alert-danger alert-dismissable" *ngIf="displayAlert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      <strong>ERROR!</strong> Please use a registered phonenumber.
    </div>
    <br>
    <div *ngIf="number.errors && (number.dirty || number.touched)" class="alert alert-danger">
      <div [hidden]="!number.errors.required">
        Type in your phonenumber.
      </div>
      <div [hidden]="!number.errors.pattern">
        Must be a valid phonenumber.
      </div>
    </div>
    <br>
    <p>Type in your Verificationcode you've received and press Enter</p>
    <form (submit)="checkVerification()">
      <input type="text" class="form-control" placeholder="Add here the Verificationcode.." required
             [(ngModel)]="verCode" name="verCode" [disabled]="displayVer">
    </form>
    <br>
    <div class="alert alert-danger alert-dismissable" *ngIf="displayAlert2">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      <strong>ERROR!</strong> Please use the correct verificationcode.
    </div>
  </div>
</div>
