<div class="container containertop" align="center">
  <div class="jumbotron">
    <h2>{{ 'lidlssv' | translate}}</h2>

    <p>{{ 'channel?' | translate}}</p>

    <div class="row">
      <div class="col-xs-6 text-right">
        <button type="button" class="btn btn-info" (click)="showPhoneVer()">
          {{ 'phone1' | translate}}
        </button>
      </div>
      <div class="col-xs-6 text-left">
        <button type="button" class="btn btn-info" (click)="showMailVer()">
          {{ 'email2' | translate}}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form [hidden]="!verifyPhone">
          <br>
          <p>{{ 'typenum1' | translate}}</p>
          <form (submit)="checkUserByPhone()">
            <input type="tel" class="form-control" placeholder="Type your phone number here (+4911221234567)." required pattern="^(((((((00|\+)49[ \-/]?)|0)[1-9][0-9]{1,4})[ \-/]?)|((((00|\+)49\()|\(0)[1-9][0-9]{1,4}\)[ \-/]?))[0-9]{1,7}([ \-/]?[0-9]{1,5})?)$" [(ngModel)]="phonenumber"
              name="phonenumber" #number="ngModel">
          </form>
          <br>
          <div class="alert alert-danger alert-dismissable" *ngIf="displayAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            {{ 'error1' | translate}}
          </div>
          <br>
          <div *ngIf="number.errors && (number.dirty || number.touched)" class="alert alert-danger">
            <div [hidden]="!number.errors.required">
              {{ 'typenum2' | translate}}
            </div>
            <div [hidden]="!number.errors.pattern">
              {{ 'error2' | translate}}
            </div>
          </div>
          <p>{{ 'typecode1' | translate}}</p>
          <form (submit)="checkVerification()">
            <input type="text" class="form-control" placeholder="Type the verification code here." required [(ngModel)]="verCode" name="verCode" [disabled]="displayVer">
          </form>
          <br>
          <div class="alert alert-danger alert-dismissable" *ngIf="displayAlert2">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            {{ 'error3' | translate}}
          </div>
        </form>

        <form [hidden]="!verifyMail">
          <br>
          <p>{{ 'typeemail2' | translate}}</p>
          <form (submit)="checkUserByMail()">
            <input type="email" class="form-control" placeholder="Type your E-Mail here (john.doe@lidlmail.com)." required pattern='^(([^<>()\[\]\\.,;:\s@\\"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
              [(ngModel)]="email_address" name="email_address" #mail="ngModel">
          </form>
          <br>
          <div class="alert alert-danger alert-dismissable" *ngIf="displayAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            {{ 'error4' | translate}}
          </div>
          <br>
          <div *ngIf="mail.errors && (mail.dirty || mail.touched)" class="alert alert-danger">
            <div [hidden]="!mail.errors.required">
              {{ 'typeemail3' | translate}}
            </div>
            <div [hidden]="!mail.errors.pattern">
              {{ 'error5' | translate}}
            </div>
          </div>
          <p>{{ 'typecode2' | translate}}</p>
          <form (submit)="checkVerification()">
            <input type="text" class="form-control" placeholder="Type the verification code here." required [(ngModel)]="verCode" name="verCode" [disabled]="displayVer">
          </form>
          <br>
          <div class="alert alert-danger alert-dismissable" *ngIf="displayAlert2">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            {{ 'error6' | translate}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
