<div class="container" align="center">
  <div class="jumbotron">
    <h2>LIDL Verification Service</h2>

    <p>Via which Channel did you register the LIDL Subscription Service?</p>

    <div class="row">
      <div class="col-xs-6 text-right">
        <button type="button" class="btn btn-info" (click)="showPhoneVer()">
          Via Phonenumber
        </button>
      </div>
      <div class="col-xs-6 text-left">
        <button type="button" class="btn btn-info" (click)="showMailVer()">
          Via Email
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form [hidden]="!verifyPhone">
          <br>
          <p>Type in your registered Phonenumber and press Enter </p>
          <form (submit)="checkUserByPhone()">
            <input type="tel" class="form-control"
                   placeholder="Add here your Phonenumber.." required
                   pattern="^(((((((00|\+)49[ \-/]?)|0)[1-9][0-9]{1,4})[ \-/]?)|((((00|\+)49\()|\(0)[1-9][0-9]{1,4}\)[ \-/]?))[0-9]{1,7}([ \-/]?[0-9]{1,5})?)$"
                   [(ngModel)]="phonenumber"
                   name="phonenumber" #number="ngModel">
          </form>
          <br>
          <div class="alert alert-danger alert-dismissable" *ngIf="displayAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>ERROR!</strong> Please use a registered phonenumber.
          </div>
          <br>
          <div *ngIf="number.errors && (number.dirty || number.touched)" class="alert alert-danger">
            <div [hidden]="!number.errors.required">
              Type in your phonenumber.
            </div>
            <div [hidden]="!number.errors.pattern">
              Must be a valid phonenumber.
            </div>
          </div>
          <p>Type in your Verificationcode you've received and press Enter</p>
          <form (submit)="checkVerification()">
            <input type="text" class="form-control" placeholder="Add here the Verificationcode.." required
                   [(ngModel)]="verCode" name="verCode" [disabled]="displayVer">
          </form>
          <br>
          <div class="alert alert-danger alert-dismissable" *ngIf="displayAlert2">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>ERROR!</strong> Please use the correct verificationcode.
          </div>
        </form>

        <form [hidden]="!verifyMail">
          <br>
          <p>Type in your registered Email and press Enter </p>
          <form (submit)="checkUserByMail()">
            <input type="email" class="form-control"
                   placeholder="Add here your Email.." required
                   pattern='^(([^<>()\[\]\\.,;:\s@\\"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                   [(ngModel)]="email_address"
                   name="email_address" #mail="ngModel">
          </form>
          <br>
          <div class="alert alert-danger alert-dismissable" *ngIf="displayAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>ERROR!</strong> Please use a registered mail.
          </div>
          <br>
          <div *ngIf="mail.errors && (mail.dirty || mail.touched)" class="alert alert-danger">
            <div [hidden]="!mail.errors.required">
              Type in your mail.
            </div>
            <div [hidden]="!mail.errors.pattern">
              Must be a valid mail.
            </div>
          </div>
          <p>Type in your Verificationcode you've received and press Enter</p>
          <form (submit)="checkVerification()">
            <input type="text" class="form-control" placeholder="Add here the Verificationcode.." required
                   [(ngModel)]="verCode" name="verCode" [disabled]="displayVer">
          </form>
          <br>
          <div class="alert alert-danger alert-dismissable" *ngIf="displayAlert2">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>ERROR!</strong> Please use the correct verificationcode.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
