
<link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">


<section class="engine"><a rel="external" ></a></section>


<section  id="contacts5-1" style=" text-align: left; background-color: rgb(239, 239, 239); padding-top: 90px; padding-bottom: 90px;">

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="assets/web/assets/jquery/jquery.min.js"></script>
<script src="assets/tether/tether.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/smooth-scroll/smooth-scroll.js"></script>
<script src="assets/dropdown/js/script.min.js"></script>
<script src="assets/touch-swipe/jquery.touch-swipe.min.js"></script>
<script src="assets/viewport-checker/jquery.viewportchecker.js"></script>
<script src="assets/theme/js/script.js"></script>
<script src="assets/formoid/formoid.min.js"></script>
<input name="animation" type="hidden">






  <form class="form-horizontal" style="text-align: center">
    <fieldset>

      <!-- Form Name -->
      <legend>Change your contact address</legend>
      <!-- Text input-->
      <div class="form-group" style="align-items: left; text-align: left">


        <label class="col-md-4 control-label" for="email">E-Mail</label>
        <div class="col-md-4">
          <input [(ngModel)]="email" id="email" name="email" type="text"  class="form-control input-md">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="phonenumber">Phone Number</label>
        <div class="col-md-4">
          <input [(ngModel)]="phonenumber" id="phonenumber" name="phonenumber"  type="text" class="form-control input-md">

        </div>
      </div>

    </fieldset>
  </form>




  <form class="form-horizontal" style="text-align: center">
    <fieldset>

      <!-- Form Name -->
      <legend>Choose your favorite Channels</legend>

      <!-- Multiple Checkboxes -->
      <div class="form-group">
        <label class="col-md-4 control-label">WhatsApp</label>
        <div class="col-md-4">
          <div class="checkbox">
            <label class="toggle col-sm-8">
              <input ([ngModel])="whatsapp_toggle" name="whatsapp_toggle" type="checkbox"(click)="switch('whatsapp')">
              <span class="handle"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" >Email</label>
        <div class="col-md-4">
          <div class="checkbox">
            <label class="toggle col-sm-8">
              <input ([ngModel])="email_toggle" name="email_toggle" type="checkbox"(click)="switch('email')">
              <span class="handle"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" >SMS</label>
        <div class="col-md-4">
          <div class="checkbox">
            <label class="toggle col-sm-8">
              <input ([ngModel])="sms_toggle" name="sms_toggle" type="checkbox"(click)="switch('sms')">
              <span class="handle"></span>
            </label>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-info" (click)="saveSettings()">
        Save Settings
      </button>
    </fieldset>
  </form>







</section>



