<div class="container containertop" style="margin-top:-50px">





  <div id="myModal " class="modal fade " role="dialog ">
    <div class="modal-dialog " role="document ">
      <div class="modal-content ">
        <div class="modal-header ">
          <h5 class="modal-title " id="exampleModalLabel ">{{ 'info1' | translate}}</h5>
          <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
            <span aria-hidden="true ">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          {{ 'confirm1' | translate}}
        </div>
        <div class="modal-footer ">
          <button type="button " class="btn btn-secondary " data-dismiss="modal ">{{ 'close1' | translate}}</button>
          <button type="button " class="btn btn-primary " data-dismiss="modal ">{{ 'continue1' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css ">

  <div class="well ">

    <legend>{{ 'notifcenter' | translate}}</legend>

    <div class="btn-pref btn-group btn-group-justified btn-group-lg " role="group " aria-label="... ">
      <div class="btn-group " role="group " (click)="switchLane( 'whatsapp') ">
        <button type="button " id="stars " [ngClass]="{ 'btn' : true, 'btn-primary':whatsapp_active, 'btn-default':!whatsapp_active} " href="#tab1 " data-toggle="tab "><i class="fa fa-whatsapp " aria-hidden="true "></i>
            <div class="hidden-xs ">{{ 'whatsapp3' | translate}}</div>
          </button>
      </div>
      <div class="btn-group " role="group " (click)="switchLane( 'sms') ">
        <button type="button " id="favorites " [ngClass]="{ 'btn' : true, 'btn-primary':sms_active, 'btn-default':!sms_active} " href="#tab2 " data-toggle="tab "><i class="fa fa-comments-o " aria-hidden="true "></i>
            <div class="hidden-xs ">{{ 'sms3' | translate}}</div>
          </button>
      </div>
      <div class="btn-group " role="group " (click)="switchLane( 'email') ">
        <button type="button " id="following " [ngClass]="{ 'btn' : true, 'btn-primary':email_active, 'btn-default':!email_active} " href="#tab3 " data-toggle="tab "><i class="fa fa-envelope-o " aria-hidden="true "></i>
            <div class="hidden-xs ">{{ 'email5' | translate}}</div>
          </button>
      </div>
      <div class="btn-group " role="group " (click)="switchLane( 'amazon') ">
        <button type="button " id="following " [ngClass]="{ 'btn' : true, 'btn-primary':amazon_active, 'btn-default':!amazon_active} " href="#tab4 " data-toggle="tab "><i class="fa fa-amazon " aria-hidden="true "></i>
          <div class="hidden-xs ">Amazon Alexa</div>
        </button>
      </div>
    </div>


    <div class="tab-content">
      <div [ngClass]="{'tab-pane fade in active' : whatsapp_active, 'tab-pane fade in' : !whatsapp_active }" id="tab1">
        <textarea [(ngModel)]="notification.whatsapp_text" name="whatsapp_text" placeholder="Enter your WhatsApp message here.&#10;The use of emojis is suggested for WhatsApp."></textarea>
      </div>
      <div [ngClass]="{'tab-pane fade in active' : sms_active, 'tab-pane fade in' : !sms_active }" id="tab2">
        <textarea [(ngModel)]="notification.sms_text" name="sms_text" placeholder="Enter your SMS text here.&#10;Do not use emojis."></textarea>
      </div>
      <div [ngClass]="{'tab-pane fade in active' : email_active, 'tab-pane fade in' : !email_active }" id="tab3">
        <textarea [(ngModel)]="notification.email_text" name="email_text" placeholder="Enter your E-Mail text here.&#10;The text will appear in the E-Mail Bundle Template."></textarea>
      </div>
      <div [ngClass]="{'tab-pane fade in active' : amazon_active, 'tab-pane fade in' : !amazon_active }" id="tab3">
        <textarea name="email_text" placeholder="Enter your Amazon Alexa text here.&#10;The text will be spoken by Amazon Alexa."></textarea>
      </div>
    </div>

    <div class="row ">
      <div class="col-xs-6 ">
        <a (click)="backToBundle2() " class="btn btn-danger pull-left ">{{ 'back2bundles' | translate}}</a>
      </div>
      <div class="col-xs-6 ">
        <button class="btn btn-info pull-right " data-toggle="modal" data-target="#myModal" (click)="addNotification() ">{{ 'save&send' | translate}}</button>
      </div>
    </div>


    <div class="margin">

      <legend>{{ 'sent' | translate}}</legend>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <table class="col-xs-12">
          <tr>
            <th>{{ 'mID' | translate}}</th>
            <th>{{ 'mText' | translate}}</th>
            <th>{{ 'mDate' | translate}}</th>
          </tr>
          <tr *ngFor="let notification of notifications" id="notification.id">
            <td>{{ notification.id }}</td>
            <td>{{notification.whatsapp_text}}</td>
            <td> {{notification.time}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
