<div class="container containertop">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/eventoverview">Event Overview</a></li>
    <li class="breadcrumb-item"><a routerLink="/eventdetail">Event</a></li>
    <li class="breadcrumb-item"><a routerLink="/eventbundle">Bundle</a></li>
    <li class="breadcrumb-item"><a routerLink="/eventbundle">Articles</a></li>
  </ol>

  <div>



    <div class="card hovercard">
      <div class="card-background">

        <!-- possible blurred image -->
      </div>
      <div class="useravatar">
        <img alt="" src="https://i.pinimg.com/736x/f9/28/e2/f928e27b6513d0d9c25a1b80293b12d1--under-construction-sign-construction-clipart.jpg">
      </div>
      <div class="card-info"> <span class="card-title">Article Center</span>

      </div>
    </div>
    <div class="well">
      <form class="form-horizontal" style="text-align: center">

        <legend>Add Articles</legend>

        <fieldset>
          <div class="form-group">
            <label class="col-xs-1 control-label">Article 1</label>
            <div class="col-xs-2 col-xs-offset-1">
              <input type="text" class="form-control" name="title" placeholder="Article Name" />
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" name="ean" placeholder="EAN" />
            </div>
            <div class="col-xs-1">
              <input type="text" class="form-control" name="price" placeholder="12,99" />
            </div>
            <div class="col-xs-1">
              <input type="text" class="form-control" name="currency" placeholder="€" />
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" name="picture" placeholder="picture" />
            </div>
            <div class="col-xs-1">
              <button type="button" class="btn btn-default removeButton"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-1 control-label">Article 3</label>
            <div class="col-xs-2 col-xs-offset-1">
              <input type="text" class="form-control" name="title" placeholder="Article Name" />
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" name="ean" placeholder="EAN" />
            </div>
            <div class="col-xs-1">
              <input type="text" class="form-control" name="price" placeholder="12,99" />
            </div>
            <div class="col-xs-1">
              <input type="text" class="form-control" name="currency" placeholder="€" />
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" name="picture" placeholder="picture" />
            </div>
            <div class="col-xs-1">
              <button type="button" class="btn btn-default removeButton"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-1 control-label">Article 2</label>
            <div class="col-xs-2 col-xs-offset-1">
              <input type="text" class="form-control" name="title" placeholder="Article Name" />
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" name="ean" placeholder="EAN" />
            </div>
            <div class="col-xs-1">
              <input type="text" class="form-control" name="price" placeholder="12,99" />
            </div>
            <div class="col-xs-1">
              <input type="text" class="form-control" name="currency" placeholder="€" />
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" name="picture" placeholder="picture" />
            </div>
            <div class="col-xs-1">
              <button type="button" class="btn btn-default removeButton"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </div>



        </fieldset>



        <div class="row">
          <div class="col-xs-6">
            <a [routerLink]="['/eventbundle']" class=" btn btn-danger " (click)="back()">Bundle Center</a>
          </div>
          <div class="col-xs-6">
            <a [routerLink]="['/eventoverview']" class=" btn btn-danger " (click)="save()">Save</a>
          </div>
        </div>

      </form>


    </div>
  </div>
</div>
