<div class="container containertop" style="margin-top:-50px">

  <section>
    <div class="wizard">
      <div class="wizard-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">

          <li role="presentation" class="disabled">
            <a routerLink="/eventdetail" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                              <span class="round-tab">
                                  <i class="glyphicon glyphicon-calendar"></i>
                              </span>
              </a>
          </li>

          <li role="presentation" [ngClass]="{'active' : bundle1_active, 'disabled':!bundle1_active}">
            <a routerLink="/eventbundle" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                              <span class="round-tab">
                                  <i class="glyphicon glyphicon-shopping-cart"></i>
                              </span>
              </a>
          </li>
          <li role="presentation" [ngClass]="{'disabled' : bundle1_active, 'active': !bundle1_active}">
            <a routerLink="/eventbundle" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                              <span class="round-tab">
                                  <i class="glyphicon glyphicon-shopping-cart"></i>
                              </span>
              </a>
          </li>

          <li role="presentation" class="disabled">
            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                              <span class="round-tab">
                                  <i class="glyphicon glyphicon-bullhorn"></i>
                              </span>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div>


    <div class="well">
      <form class="form-horizontal" style="text-align: center">

        <legend>{{ 'addarticles1' | translate}}{{bundle_id_text}} {{ 'bundle1' | translate}}</legend>

        <fieldset>

          <ul>

            <li class="list-group-item" *ngFor="let article of articles; let i = index">

              <div class="form-group">
                <label class="col-xs-2 control-label">Article {{article.id + 1}}</label>
                <div class="col-xs-2 col-xs-offset-1">
                  <input [(ngModel)]="articles[i].title" name="title-{{i}}" type="text" class="form-control input-xs">
                </div>

                <div class="col-xs-2">
                  <input [(ngModel)]="articles[i].ean" type="text" class="form-control" name="ean-{{i}}" placeholder="EAN" />
                </div>
                <div class="col-xs-2">
                  <input [(ngModel)]="articles[i].price" type="text" class="form-control" name="price-{{i}}" placeholder="12,99" />
                </div>
                <div class="col-xs-1">
                  <input [(ngModel)]="articles[i].currency" type="text" class="form-control" name="currency-{{i}}" placeholder="€" />
                </div>
                <div class="col-xs-2">
                  <input [(ngModel)]="articles[i].picture" type="text" class="form-control" name="picture-{{i}}" placeholder="picture" />
                </div>

              </div>
            </li>
          </ul>


        </fieldset>

        <div class="row">
          <div class="col-xs-6">
            <a [routerLink]="['/eventbundle']" *ngIf="bundle1_active" class=" btn btn-danger " (click)="back()">{{ 'backbundle1' | translate}}</a>
            <a [routerLink]="['/eventbundle']" *ngIf="!bundle1_active" class=" btn btn-danger " (click)="back()">{{ 'backbundle2' | translate}}</a>
          </div>
          <div class="col-xs-6">
            <a [routerLink]="['/eventbundle']" *ngIf="bundle1_active" class=" btn btn-danger " (click)="GoToSecond()">{{ 'nextbundle1' | translate}}</a>
            <a [routerLink]="['/notificationcenter']" *ngIf="!bundle1_active" class=" btn btn-danger " (click)="GoToSecond()">{{ 'nextnotification' | translate}}</a>
          </div>
        </div>

      </form>


    </div>
  </div>
</div>
