<div class="container containertop" style="margin-top:-50px">

  <section>
    <div class="wizard">
      <div class="wizard-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">

          <!-- Detail -->
          <!-- Currently active -->
          <li *ngIf="active_status == 'detail'" role="presentation" class="active active1">
            <a aria-controls="step1" title="Step 1">
              <span class="round-tab" >
                  <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </a>
          </li>

          <!-- Finished active -->
          <li *ngIf="detail_status && active_status != 'detail'" role="presentation" class="active1">
            <a aria-controls="step1" title="Step 1">
              <span class="round-tab">
                  <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </a>
          </li>

          <!-- To be achieved -->
          <li *ngIf="!detail_status" role="presentation" class="disabled">
            <a aria-controls="step1" title="Step 1">
              <span class="round-tab">
                  <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </a>
          </li>


          <!-- First Bundle -->
          <!-- Currently active -->
          <li *ngIf="active_status == 'bundle1'" role="presentation" class="active active1">
            <a aria-controls="step2" title="Step 2">
              <span class="round-tab" >
                  <i class="glyphicon glyphicon-shopping-cart"></i>
              </span>
            </a>
          </li>

          <!-- Finished -->
          <li *ngIf="bundle1_status && active_status != 'bundle1'" role="presentation" class="active1">
            <a aria-controls="step2" title="Step 2">
              <span class="round-tab">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
              </span>
            </a>
          </li>

          <!-- To be achieved -->
          <li *ngIf="!bundle1_status" role="presentation" class="disabled">
            <a aria-controls="step2" title="testt">
              <span class="round-tab">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
              </span>
          </a>
          </li>

          <!-- Second Bundle -->
          <!-- Currently active -->
          <li *ngIf="active_status == 'bundle2'" role="presentation" class="active1 active">
            <a aria-controls="step1" title="Step 3">
              <span class="round-tab" >
                  <i class="glyphicon glyphicon-shopping-cart"></i>
              </span>
            </a>
          </li>

          <!-- Finished -->
          <li *ngIf="bundle2_status && active_status != 'bundle2'" role="presentation" class="active1">
            <a aria-controls="step3" title="Step 3">
              <span class="round-tab">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
              </span>
            </a>
          </li>

          <!-- To be achieved -->
          <li *ngIf="!bundle2_status" role="presentation" class="disabled">
            <a aria-controls="step3" title="Step 3">
              <span class="round-tab">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
              </span>
          </a>
          </li>


          <!-- Notification -->
          <!-- Currently active -->
          <li *ngIf="active_status == 'notification'" role="presentation" class="active1 active">
            <a aria-controls="step4" title="Step 4">
              <span class="round-tab" class="active" class="active">
                  <i class="glyphicon-glyphicon-bullhorn"></i>
              </span>
            </a>
          </li>

          <!-- Finished -->
          <li *ngIf="notification_status && active_status != 'notification'" role="presentation" class="active1">
            <a aria-controls="step4" title="Step 4">
              <span class="round-tab">
                    <i class="glyphicon glyphicon-bullhorn"></i>
              </span>
            </a>
          </li>
          <!-- To be... -->
          <li *ngIf="!notification_status" role="presentation" class="disabled">
            <a aria-controls="step3" title="Step 4">
              <span class="round-tab">
                    <i class="glyphicon glyphicon-bullhorn"></i>
              </span>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div>


    <div class="well ">
      <form class="form-horizontal " style="text-align: center ">

        <legend>Add Articles for {{bundle_id_text}} Bundle</legend>

        <fieldset>

          <ul>

            <li class="list-group-item " *ngFor="let article of articles; let i=i ndex ">

              <div class="form-group ">
                <label class="col-xs-2 control-label ">Article {{article.id + 1}}</label>
                <div class="col-xs-2 col-xs-offset-1 ">
                  <input [(ngModel)]="article.title " name="title-{{i}} " type="text " class="form-control input-xs ">
                </div>

                <div class="col-xs-2 ">
                  <input [(ngModel)]="article.ean " type="text " class="form-control " name="ean-{{i}} " placeholder="EAN " />
                </div>
                <div class="col-xs-2 ">
                  <input [(ngModel)]="article.price " type="text " class="form-control " name="price-{{i}} " placeholder="12,99 " />
                </div>
                <div class="col-xs-1 ">
                  <input [(ngModel)]="article.currency " type="text " class="form-control " name="currency-{{i}} " placeholder="€ " />
                </div>
                <div class="col-xs-2 ">
                  <input [(ngModel)]="article.picture " type="text " class="form-control " name="picture-{{i}} " placeholder="picture " />
                </div>

              </div>
            </li>
          </ul>


        </fieldset>

        <div class="row ">
          <div class="col-xs-6 ">
            <a [routerLink]="[ '/eventbundle'] " *ngIf="bundle1_active " class=" btn btn-danger " (click)="back() ">Back to First Bundle</a>
            <a [routerLink]="[ '/eventbundle'] " *ngIf="!bundle1_active " class=" btn btn-danger " (click)="back() ">Back to Second Bundle</a>
          </div>
          <div class="col-xs-6 ">
            <a [routerLink]="[ '/eventbundle'] " *ngIf="bundle1_active " class=" btn btn-danger " (click)="GoToSecond() ">Next to Second Bundle</a>
            <a [routerLink]="[ '/notificationcenter'] " *ngIf="!bundle1_active " class=" btn btn-danger " (click)="GoToSecond() ">Next to Notification</a>
          </div>
        </div>

      </form>


    </div>
  </div>
</div>
